body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/*first section start*/

h1 {
    font-size: 60px;
    font-weight: 700;
}

.skip {
    color: tomato;
}

small {
    font-size: 14px;
    color: gray;
}

.top-banner {
    display: flex;
    margin-bottom: 120px;
}


.first-section-div {
    width: 50%;
}

.first-section-div img {
    width: 100%;
}

.intro {
    margin-top: 150px;
    padding-left: 100px;

}

.link-btn {
    background-color: #832ac7;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 30px;

}

.link-btn:hover {
    background-color: teal;
}

/*first section end*/

/*second section*/

.about {
    color: orange;
}

.mid-section {
    display: flex;
    margin-bottom: 120px;
    background-image: url();
}

.second-section-div {
    width: 50%;
}

.second-section-div img {
    width: 100%
}

.about-us {
    margin: 170px 90px;
    padding: 10px 20px;
}

/*second section end*/

/*Menu Section Started*/

.our-menu {
    text-align: center;
}

.our-menu p {
    font-size: 14px;
}

.food-menu {
    display: flex;
    margin-bottom: 120px;
    padding: 20px;
}

.food-photo {
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 15px gray;
    border-radius: 15px;
}

.food-text {
    margin-top: -45px;
    padding: 5%;
}

.food-photo img {
    width: 100%;
}

/*Menu section end*/

/*follower part start*/
.food-follower {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.social-follower {
    text-align: center;
    display: flex;
    box-shadow: 2px 2px 3px 3px #9a9797;
    border-radius: 15px;
    height: 150px;
    font-size: 20px;
    padding-left: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
}

.items {
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
}